# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production

# misc
# .DS_Store
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local
# .env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


cd ~/actions-runner/_work/StudyTube/StudyTube/backend 
curl https://raw.githubusercontent.com/creationix/nvm/master/install.sh | bash
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
            npm --version
