@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,500;1,200&family=Lora:ital,wght@0,600;1,400;1,500;1,600&family=Merriweather+Sans:wght@300&family=Poppins:ital,wght@0,400;1,200&family=Varela+Round&family=Work+Sans:wght@200&display=swap');

.mainback{
    min-height: 90vh;
    display: flex;
    padding: 10px 0;
}

.page{
    width: 100%;
}

.heading{
    font-size: 60px;
    font-family: "Work Sans",sans-serif;
    padding:5px 10px;
}


@media only  screen and (max-width:600px) {
    .heading{
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    
}